<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/XS-ERP/src/main/java/cn/xs/erp/core/GenSQL.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.xs.erp.core.GenSQL"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="XS-ERP"/>
</launchConfiguration>
