<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/telcomdispatch/src/main/java/cn/telcom/dispatch/TelcomdispatchApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.telcom.dispatch.TelcomdispatchApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="telcomdispatch"/>
</launchConfiguration>
