<?xml version="1.0" encoding="utf-8" ?>
<CheckMultiVP>
  <SAMPLE_RATE>8000</SAMPLE_RATE>
  <DATA_IN>D:\TEST\DATA-IVR\IN</DATA_IN>
  <DATA_OUT>D:\TEST\DATA-IVR\OUT</DATA_OUT>
  <DATA_ERROR>D:\TEST\DATA-IVR\ERROR</DATA_ERROR>
  <COUNT_OF_THREAD>3</COUNT_OF_THREAD>
  <LOG_PATH>D:\TEST\DATA-IVR\LOG</LOG_PATH>
  <THRESHOLD>4.0</THRESHOLD>
<MIN_FILE_LENGTH>48000</MIN_FILE_LENGTH>
  <!-->0: SETP MODE     1：BURST MODE-->
  <MODE>0</MODE>
</CheckMultiVP>