<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/edit">
<meta charset="UTF-8">
<th:block layout:fragment="bodyAssets">
<script type="text/javascript" th:inline="javascript">
	$(function(){
		var saveInsert,saveUpdate;
		$('#doorID').combobox({
			editable:false,
			url:'/door/comboxList',
		   	valueField:'id',
		   	textField:'doorName',
            multiple:true,
            panelHeight:'50%',
            onLoadSuccess: function(data){
			if(doorPermission !=''){
				for(var p in doorPermission){
		        	$('#doorID').combobox('setValue', doorPermission);
		        }
			}
			var opts = $(this).combobox('options');
		                var target = this;
		                var values = $(target).combobox('getValues');//获取选中的值的values
		                $.map(values, function (value) {
		                    var el = opts.finder.getEl(target, value);
		                    el.find('input.combobox-checkbox')._propAttr('checked', true); 
		                })
			},
			onSelect:function(row){
				var opts = $(this).combobox('options');
				$('#doorID').val($(this).combobox('getValues'));
				var el = opts.finder.getEl(this, row[opts.valueField]);
			             			el.find('input.combobox-checkbox')._propAttr('checked', true);
			},
			onUnselect:function(row){
				var opts = $(this).combobox('options');
			                $('#doorID').val($(this).combobox('getValues'));
			                var el = opts.finder.getEl(this, row[opts.valueField]);
			                el.find('input.combobox-checkbox')._propAttr('checked', false);
			},
			formatter:function(row){
				var opts = $(this).combobox('options');
			             			return '<input type=\'checkbox\' class=\'combobox-checkbox\'>' + row[opts.textField];
			}
		});
	});
	var doorPermission =JSON.parse([[${doorPermission}]]);
	saveUpdate = function(){
		doSave('/door_manager/update');
	};
</script>
	<form id="ff" class="easyui-form" data-options="novalidate:true" method="post" enctype="multipart/form-data">
		<table style="border-collapse:separate; border-spacing:0px 15px;width:95%;">
			<tr>
				<td><input id="id" class="id" name="id" th:value="${empDoorPermission.id}" type="hidden"></td>
			</tr>
			<tr>
				<td>员工号：</td>
				<td><input id="empNo" class="easyui-textbox" name="empNo" th:value="${empDoorPermission.empNo}" 
						disabled style="width:100%;" data-options="required:true"></td>
			</tr>
			<tr>
				<td>员工名：</td>
				<td><input id="empName" class="easyui-textbox" name="empName" th:value="${empDoorPermission.empName}" 
						disabled style="width:100%;" data-options="required:true"/></td>
			</tr>
			<tr>
				<td>门名称：</td>
				<td>
					<input id="doorID" class="easyui-combobox" name="doorID" style="width:100%;"/>
				</td>
			</tr>
		</table>
	</form>
</th:block>
</html>